<% content_for :title do %>Energy<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="WattsonPowerGrid"
      data-view="Graph"
      data-title="Usage"
      style="background-color:#47bbb3;">
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="WattsonPowerSolar"
      data-view="Graph"
      data-title="Solar"
      </div>
    </li>
  </ul>
</div>
