<% content_for :title do %>Energy<% end %>

<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee.
  // Ainol tablet: 1280 x 800
  // 	   Dashing.widget_base_dimensions = [320, 300];
  Dashing.widget_base_dimensions = [600, 600];
});
</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1";>
      <div data-id="WattsonPowerGrid"
      data-view="Graph"
      data-title="Usage"
      style="background-color:#47bbb3;">
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="WattsonPowerSolar"
      data-view="Graph"
      data-title="Solar"
      </div>
    </li>
  </ul>
</div>
