<% content_for :title do %>Temperature<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="HallwayTop" data-view="Meter" data-title="Hallway Top"
      data-min="0" data-max="40" style="background-color:#00B0C6"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="HallwayBottom" data-view="Meter" data-title="Hallway Floor"
      data-min="0" data-max="40" style="background-color:#00B0C6"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="WaterTank" data-view="Meter" data-title="Water Tank"
      data-min="0" data-max="80" style="background-color:#00B0C6"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="WaterBoiler" data-view="Meter" data-title="Boiler"
      data-min="0" data-max="80" style="background-color:#00B0C6"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TopFloorAttic" data-view="Meter" data-title="Attic"
      data-min="0" data-max="40" style="background-color:#00B0C6"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TopFloorAiringCabinet" data-view="Meter" data-title="Airing cabinet"
      data-min="0" data-max="40" style="background-color:#00B0C6"></div>
    </li>

  </ul>
</div>
