<% content_for :title do %>Temperature<% end %>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.numColumns = 5
});
</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TopFloorBackWall"
	   data-view="Number"
	   data-title="Niamh's bed"
	   style="background-color:#00B0C6"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TopFloorBackFloor"
	   data-view="Number"
	   data-title="Keeva's bed"
	   style="background-color:#00B0C6"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TopFloorFrontWall"
	   data-view="Number"
	   data-title="Fabian's bed"
	   style="background-color:#00B0C6"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TopFloorAttic"
	   data-view="Number"
	   data-title="Attic"
	   style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LandingTop"
	   data-view="Number"
	   data-title="Landing Top"
	   style="background-color:#96BF48"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LivingRoomCupBoard"
	   data-view="Number"
	   data-title="Living Room"
	   style="background-color:#AE668E"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GroundFloorBackWindow"
	   data-view="Number"
	   data-title="Garden room"
	   style="background-color:#AE668E"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TopFloorAiringCabinet"
	   data-view="Number"
	   data-title="Airing Cabinet"
	   style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="WaterTank"
	   data-view="Number"
	   data-title="Water Tank"
	   style="background-color:#E4593F"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LandingMiddle"
	   data-view="Number"
	   data-title="Landing Middle"
	   style="background-color:#96BF48"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LivingRoomWindow"
	   data-view="Number"
	   data-title="Window"
	   style="background-color:#AE668E"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="HallwayTop"
	   data-view="Number"
	   data-title="Hallway Top"
	   style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="HallwayBottom"
	   data-view="Number"
	   data-title="Hallway Bottom"
	   style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="WaterBoiler"
	   data-view="Number"
	   data-title="Boiler"
	   style="background-color:#E4593F"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LandingBottom"
	   data-view="Number"
	   data-title="Landing Bottom"
	   style="background-color:#96BF48"></div>
    </li>

  </ul>
</div>
