<% content_for :title do %>Temperature<% end %>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<style type='text/css'>
#dc-switcher-next { padding-left: 5px; }
#dc-switcher-next-name, #dc-switcher-countdown { color: #ddd; }
#dc-switcher-pause-reset { padding-left: 5px; }
#dc-switcher-controls { float: right; margin-right: 10px }
#dc-switcher-stopper:hover, #dc-switcher-next:hover { cursor: pointer; cursor: hand;}
.switcher-text { color: white; font-weight: bold }
</style>

<div id='dc-switcher-controls'>
  <dashboard-name-template>
    <span class='switcher-text'>Next:</span>
    <em>&ensp;$nextName&ensp;</em>
    <span class='switcher-text'>in&ensp;</span>
  </dashboard-name-template>
</div>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TopFloorBackWall" data-view="Meter"
      data-min="0" data-max="40"
      data-title="Niamh's bed"
      style="background-color:#00B0C6"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TopFloorBackFloor" data-view="Meter" data-title="Keeva's bed" data-min="0" data-max="40" style="background-color:#00B0C6"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TopFloorFrontWall" data-view="Meter" data-title="Fabian's bed" data-min="0" data-max="40" style="background-color:#00B0C6"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LivingRoomCupBoard" data-view="Meter" data-title="Living Room" data-min="0" data-max="40"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GroundFloorBackWindow" data-view="Meter" data-title="Garden room" data-min="0" data-max="40"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LandingTop" data-view="Meter" data-title="Landing Top" data-min="0" data-max="40" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LandingMiddle" data-view="Meter" data-title="Landing Middle" data-min="0" data-max="40" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LandingBottom" data-view="Meter" data-title="Landing Bottom" data-min="0" data-max="40" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>
